.aboutMeFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  clear: both;
  font-size: 18px;
  margin-left: 25px;
}

.aboutMeFlex .smallDiv {
  flex-basis: 230px;
  margin-right: 60px;
}

.indexImage {
  margin-bottom: 0.25em;
}