section.page__content.portfolioWithTags {
  @include breakpoint($large) {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.portfolioWithTags .portfolioEntries {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  padding-left: 50px;
}

.portfolioWithTags .portfolioEntries > div {
  width: 225px;
  margin: 0px 20px 20px 20px;
}

.portfolioHide {
  display: none;
}

.portfolioWithTags .portfolioEntries a {
  font-weight: bold;
}

.portfolioWithTags .portfolioEntries p {
  margin-top: 20px;

  @include breakpoint($large) { // will convert to a max-width:1024px media query
    // 1024px wide and up styles here
    font-size: small;
  }
}

.portfolioWithTags .portfolioEntries img {
  padding-bottom: 10px;
}

.portfolioWithTags .tagFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  @include breakpoint($large) {
    flex-direction: column;
    justify-content: start;
    width: 10%;
  }
}

.tagButton {
  display: list-item;
  list-style-type: none;
  padding: 10px;
  color: white;
  background: gray;
  margin: 5px 5px 10px 0px;
  border-radius: 8px;
  border-bottom: solid 1px black;

  @include breakpoint($large) {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 0px;
    color: black;
    background: none;
  }
}

.tagButton:hover {
  color: #fff;
  background: #0099ff;
  @include breakpoint($large) {
    color: inherit;
    background: inherit;
  }
  cursor: pointer;
}

.page__content a:not(.btn).tagButton:hover {
  /* Because the default style tries really hard to underline links on hover */
  text-decoration: none!important;
}

.tagButton.tagButtonSelected {
  list-style-type: none;
  background: #000;
  @include breakpoint($large) {
    list-style-type: inherit;
    background: inherit;
  }
}
