.portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.portfolio > div {
  width: 250px;
  margin: 20px;
}

.portfolio a {
  font-weight: bold;
}

.portfolio p {
  margin-top: 20px;

  @include breakpoint($large) { // will convert to a max-width:1024px media query
    // 1024px wide and up styles here
    font-size: small;
  }
}

.portfolio img {
  padding-bottom: 10px;
}