.portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.portfolio > div {
  width: 300px;
  margin: 30px;
}

.portfolio a {
  font-weight: bold;
}

.portfolio p {
  margin-top: 20px;
  color: purple;

  @include breakpoint($medium) {
    color: blue;
    // flex-direction: row;
  }

  @include breakpoint($large) { // will convert to a max-width:1024px media query
    // 1024px wide and up styles here
    // flex-direction: row;
    color: green;
    font-size: small;
  }
}