.column-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 35px;
}

.rectangle {
  display: inline-block;
  height: 50px;
  width: 200px;
  text-align: center;
}

.arrow-text {
  display: table-cell;
  color: white;
  position: relative;
  top: 10px;
  left: 70px;
}

.rectangle-a {
  background-color: blue;
}

.triangle-a {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid blue;
  border-bottom: 25px solid transparent;
}

.rectangle-b {
  background-color: rgb(0, 123, 255);
}

.triangle-b {
  display: inline-block;
  position: relative;
  width: 0;
  height: 0;
  left: -1px;
  border-top: 25px solid transparent;
  border-left: 50px solid rgb(0, 123, 255);
  border-bottom: 25px solid transparent;
}

.rectangle-c {
  background-color: rgb(0, 217, 255);
}

.triangle-c {
  display: inline-block;
  position: relative;
  width: 0;
  height: 0;
  left: -1px;
  border-top: 25px solid transparent;
  border-left: 50px solid rgb(0, 217, 255);
  border-bottom: 25px solid transparent;
}

.block-header {
  font-weight: bold;
  font-size: 12px;
}

.text-block {
  margin-left: 20px;
  display: inline-block;
  width: 200px;
  font-size: smaller;
}
