.experience-grid {

  display: none;

  @include breakpoint($medium) {
    width: 100%;
    display: grid;
    // grid-template-rows: 0.5fr 1fr 1.2fr 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "exp-a exp-a exp-a res-a res-a"
    "exp-b exp-b res-b res-b res-b"
    "exp-c exp-c exp-c res-c res-c"
    "exp-d exp-d res-d res-d res-d"
    "exp-e exp-e exp-e res-e res-e";
  }

}

.experience-grid > div {
  margin-bottom: 40px;
}

.experience-list {

  display: block;

  @include breakpoint($medium) {
    display: none;
  }

}

.block {
  display: list-item;
  @include breakpoint($medium) {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.exp-title {
  font-size: smaller;
  font-weight: bold;
}

.result-title {
  font-size: smaller;
  font-weight: bold;
  margin-top: 8px;

  @include breakpoint($medium) {
    margin-top: 0px;
  }

}

#s1 { grid-area: exp-a; }

#s2 { grid-area: res-a; }

#s3 { grid-area: exp-b; }

#s4 { grid-area: res-b; }

#s5 { grid-area: exp-c; }

#s6 { grid-area: res-c; }

#s7 { grid-area: exp-d; }

#s8 { grid-area: res-d; }

#s9 { grid-area: exp-e; }

#s10 { grid-area: res-e; }