section.page__content {
  @include breakpoint($large) {
    width: 1000px;
    padding-left: 100px;
  }
}

.company {
  font-weight: bold;
}

.experience {
  list-style-type: disc;
}

.experience li {
  // Mobile-first
  // Styles for larger breakpoints override
  list-style-type: disc;
  display: list-item;
  flex-direction: column;
  width: 80%;

  @include breakpoint($large) { // will convert to a max-width:1024px media query
    // 1024px wide and up styles here
    flex-direction: row;
  }

}

.experience > li > div {
  padding: 10px;
}
