section.page__content {
  @include breakpoint($large) {
    width: 1000px;
    padding-left: 100px;
  }
}

.experience-grid-fromdata {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @include breakpoint($medium) {
    flex-direction: row;
  }
}

.experience-grid-fromdata > div {
  flex-basis: 48%;
  margin-right: 30px;
}

.experience-grid-fromdata > div.spacer-row {
  flex-basis: 100%;
  height: 20px;
}

.experience-grid-fromdata .result {
  @include breakpoint($medium) {
    margin: inherit;
  }
}

.company {
  font-weight: bold;
}

.exp-title {
  font-size: smaller;
  font-weight: bold;
}

.spacer-result {
  font-size: smaller;
  font-weight: bold;
}

.resume-list {
  margin-bottom: 40px;
}

.roles li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}