---
layout: default
---

<script src="/assets/js/portfolioTags.js"></script>

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% comment %} Get a list of all tags {% endcomment %}
{% assign allTags = "" | split: ',' %}
{% for entry in site.data.portfolioWithTags.entries %}
  {% if entry.tags %}
    {% for tag in entry.tags %}
      {% unless allTags contains tag %}
        {% assign allTags = allTags | push: tag %}
      {% endunless %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% assign allTags = allTags | sort %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.title %}<h1 id="page-title" class="page__title p-name" itemprop="headline">
            <a href="{{ page.url | absolute_url }}" class="u-url" itemprop="url">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</a>
          </h1>{% endif %}
          {% include page__meta.html %}
        </header>
      {% endunless %}

      {{ content }}

      <section class="page__content portfolioWithTags" itemprop="text">

        {% comment %} Tag cloud {% endcomment %}
        <div class="tagFlex">
          {% for tag in allTags %}
            <a
              class="tagButton"
              onclick="toggleTag('{{tag}}')"
              tagName="{{ tag }}"
            >{{ tag }}</a>
          {% endfor %}
          <a
            class="tagButton"
            id="showAllButton"
            status="off"
            onclick="showEverything()"
          >All tags</a>
        </div>

        <div class="portfolioEntries">
        {% for entry in site.data.portfolioWithTags.entries %}
          {% assign entryClasses = "portfolioEntry" %}
          {% if entry.default != true %}
            {% assign entryClasses = entryClasses | append: " portfolioHide" %}
          {% endif %}
          <div
            class="{{ entryClasses }}"
            tags="{{ entry.tags | join: ',' }}"
            default="{{ entry.default }}"
          >
            <a href="{{ entry.url }}" target="_blank">
              <img src="{{ entry.image }}" alt=""/>
              {{ entry.title }}
            </a>
            <p>
              {{ entry.description }}
            </p>
            {% if entry.followup %}
              <p>
                {{ entry.followup }}
              </p>
            {% endif %}
          </div>
        {% endfor %}
        </div>

      </section>
    </div>
  </article>
</div>
