---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.title %}<h1 id="page-title" class="page__title p-name" itemprop="headline">
            <a href="{{ page.url | absolute_url }}" class="u-url" itemprop="url">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</a>
          </h1>{% endif %}
          {% include page__meta.html %}
        </header>
      {% endunless %}

      <section class="page__content" itemprop="text">
        {{ content }}
        <div class="company">{{ site.data.resume_sstk.title }}</div>
        <ul class="roles">
          {% for oneRole in site.data.resume_sstk.roles %}
          <li>{{ oneRole }}</li>
          {% endfor %}
        </ul>

        {% comment %} Shutterstock {% endcomment %}
        <div class="experience-grid-fromdata">
          {% for oneExp in site.data.resume_sstk.entries %}
            <div class="experience">
              {% if oneExp.title %}
                <div class="exp-title">{{ oneExp.title }}</div>
              {% endif %}
              {{ oneExp.experience }}
            </div>
            <div class="arrow-spacer">
              <span class="arrow is-triangle arrow-bar is-right large-breakpoints"></span>
              <span class="arrow is-triangle arrow-bar is-bottom small-breakpoints"></span>
            </div>
            <div class="result">
              {% if oneExp.result %}
                <div class="spacer-result">&nbsp;</div>
                {{ oneExp.result }}
              {% endif %}
            </div>
            <div class="spacer-row">&nbsp;</div>
          {% endfor %}
        </div>

        {% comment %} IBM {% endcomment %}
        <div class="company">{{ site.data.resume_ibm.title }}</div>
        <ul class="roles">
          {% for oneRole in site.data.resume_ibm.roles %}
          <li>{{ oneRole }}</li>
          {% endfor %}
        </ul>
        <div class="resume-list">
          <ul>
            {% for oneExp in site.data.resume_ibm.entries %}
              <li>{{ oneExp }}</li>
            {% endfor %}
          </ul>
        </div>

        {% comment %} Lohre {% endcomment %}
        <div class="company">{{ site.data.resume_lohre.title }}</div>
        <ul class="roles">
          {% for oneRole in site.data.resume_lohre.roles %}
          <li>{{ oneRole }}</li>
          {% endfor %}
        </ul>
        <div class="resume-list">
          <ul>
            {% for oneExp in site.data.resume_lohre.entries %}
              <li>{{ oneExp }}</li>
            {% endfor %}
          </ul>
        </div>

        {% comment %} Education {% endcomment %}
        <div class="company">{{ site.data.resume_education.title }}</div>
        <div class="resume-list">
          <ul>
            {% for oneEdu in site.data.resume_education.entries %}
              <li>{{ oneEdu.degree }}: {{ oneEdu.school }}, {{ oneEdu.city }}</li>
            {% endfor %}
          </ul>
        </div>

      </section>
    </div>
  </article>
</div>
