---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.title %}<h1 id="page-title" class="page__title p-name" itemprop="headline">
            <a href="{{ page.url | absolute_url }}" class="u-url" itemprop="url">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</a>
          </h1>{% endif %}
          {% include page__meta.html %}
        </header>
      {% endunless %}

      <section class="page__content resume" itemprop="text">
        {{ content }}

        {% comment %} Summary {% endcomment %}
        <div class="summary-heading heading-indent">{{ site.data.resume_summary.title }}</div>
        <div class="summary-flex">
          {% for oneSum in site.data.resume_summary.entries %}
            <div class="summary-item">{{ oneSum }}</div>
            {% unless forloop.last %}
              <div class="summary-bullet">&#8226;</div>
            {% endunless -%}
          {% endfor %}
        </div>

        {% comment %} TriliTech {% endcomment %}
        <div class="company heading-indent">{{ site.data.resume_trilitech.title }}</div>
        <div class="experience-grid-fromdata">
          {% for oneExp in site.data.resume_trilitech.entries %}
            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
            <div class="experience no-result">
              {{ oneExp }}
            </div>
            {% comment %} Had trouble with the modulo filter to get odd/even rows. This works, though. {% endcomment %}
            {% if thecycle == 'odd' %}
              <div class="no-arrow-spacer"></div>
            {% endif %}
          {% endfor %}
        </div>

        {% comment %} Contracting {% endcomment %}
        <!-- div class="company heading-indent">{{ site.data.resume_contracting.title }}</div>
        {% comment %} Need a spacer here because there's no role {% endcomment %}
        <div class="experience-no-role-spacer"></div>
        <div class="experience-grid-fromdata">
          {% for oneExp in site.data.resume_contracting.entries %}
            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
            <div class="experience no-result">
              {{ oneExp }}
            </div>
            {% comment %} Had trouble with the modulo filter to get odd/even rows. This works, though. {% endcomment %}
            {% if thecycle == 'odd' %}
              <div class="no-arrow-spacer"></div>
            {% endif %}
          {% endfor %}
        </div-->

        {% comment %} Shutterstock {% endcomment %}
        <div class="company heading-indent">{{ site.data.resume_sstk.title }}</div>
        <ul class="roles">
          {% for oneRole in site.data.resume_sstk.roles %}
          <li>{{ oneRole }}</li>
          {% endfor %}
        </ul>
        <div class="experience-grid-fromdata">
          {% for oneExp in site.data.resume_sstk.entries %}
            <div class="experience">
              {% if oneExp.title %}
                <div class="exp-title">{{ oneExp.title }}</div>
              {% endif %}
              {{ oneExp.experience }}
            </div>
            <div class="arrow-spacer">
              <span class="arrow is-triangle arrow-bar is-right large-breakpoints"></span>
              <span class="arrow is-triangle arrow-bar is-bottom small-breakpoints"></span>
            </div>
            <div class="result">
              {% if oneExp.result %}
                <div class="spacer-result">&nbsp;</div>
                {{ oneExp.result }}
              {% endif %}
            </div>
            <div class="spacer-row">&nbsp;</div>
          {% endfor %}
        </div>

        {% comment %} IBM {% endcomment %}
        <div class="company heading-indent">{{ site.data.resume_ibm.title }}</div>
        <ul class="roles">
          {% for oneRole in site.data.resume_ibm.roles %}
          <li>{{ oneRole }}</li>
          {% endfor %}
        </ul>
        <div class="experience-grid-fromdata">
          {% for oneExp in site.data.resume_ibm.entries %}
            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
            <div class="experience no-result">
              {{ oneExp }}
            </div>
            {% comment %} Had trouble with the modulo filter to get odd/even rows. This works, though. {% endcomment %}
            {% if thecycle == 'odd' %}
              <div class="no-arrow-spacer"></div>
            {% endif %}
          {% endfor %}
        </div>

        {% comment %} Education {% endcomment %}
        <div class="company heading-indent">{{ site.data.resume_education.title }}</div>
        <ul class="roles">
          {% for oneEdu in site.data.resume_education.entries %}
            <li>{{ oneEdu.degree }}: {{ oneEdu.school }}, {{ oneEdu.city }}</li>
          {% endfor %}
        </ul>

      </section>
    </div>
  </article>
</div>
